// Colors
$primary-font: 'Ubuntu', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$primary-color: #f53535;
$secondary-color: #2d3035;
$secondary-color--medium: #787476;
$secondary-color--light: rgb(186, 178, 187);