@import "../commons/default";
@import "../fonts/scss/fonts-en";

body{
  font-size: 14px;
  font-family: $primary-font;
  background: url('../../images/body-bg.jpg') no-repeat fixed;
  background-size: cover;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
}

.btn {
  border-radius: 6px;
  border: 2px solid #685d68;
  background-color: transparent;
  font-family: $secondary-font;
  font-size: 18px;
  font-weight: 500;
  padding: 14px 20px 15px;
  width: 260px;
  margin: 0;
}

.btn--red {
  @extend .btn;
  background-color: $primary-color;
  border: 2px solid $primary-color; 
}

.section {
  padding: 80px 0;
}

.section__title {
  font-size: 42px;
  text-transform: capitalize;
  font-weight: bold;
  color: $secondary-color;
  text-transform: uppercase;
  font-family: $secondary-font;
}

.section__title--white {
  color: #fff;
}

.carousel .carousel-control-prev-icon {
  background-image: url('../../plugins/MDB-Free/img/svg/arrow_left.svg');
}

.carousel .carousel-control-next-icon {
  background-image: url('../../plugins/MDB-Free/img/svg/arrow_right.svg');
}

a:hover {
  color: inherit;
  transition: all 0.3s ease;
}

// global

.site__header {
  width: 100%;
  height: 940px;
  background: url("../../images/header-bg.png"), -webkit-linear-gradient(left,#72545f 0%,#502f3a 50%,#2b1b20 100%);;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.header {
  height: 100%;
  padding-top: 150px;
  
  .container {
    height: 100%;
  }
}

.header__logo {
  font-family: $secondary-font;
  font-weight: 400;
}

.header__logo-holder {
  font-size: 76px;
  color: #fff;
}

.header__logo-holder-highlight {
  background-color: $primary-color;
  padding: 10px 20px;
  color: #000;
}

.header__top-address {
  font-size: 21px; 
  color: $secondary-color;
  color: #fff;

  i {
    font-size: 36px;
    color: $primary-color;
  }
}

.header__bottom {
  font-size: 26px;
}

.header__bottom-nav-el {
  display: inline-block;
  margin: 0 15px;
  text-transform: capitalize;

  a {
    color: $secondary-color--light;

    &:hover {
      color: $primary-color;
    }
  }
  
  &:first-child {
    margin-left: 0;
  }
}

.header__bottom-nav.fixed {
  background-color: #39313c;
  box-shadow: 0 5px 20px rgba(0,0,0,.55);
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  .header__bottom-nav-inner {
    margin: 0 auto;
    text-align: center;
  }

  .header__bottom-nav-el {
    padding: 15px 0;
    font-size: 16px;
  }
}

.header__bottom-contact-el {
  color: $secondary-color--light;

  &:hover {
    color: $primary-color;
  }
}

.header__bottom-contact-el--phone {
  color: $primary-color;
}

.header__slider-text {
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  color: #fff;
}

.header__slider-text-title {
  font-size: 80px;
  font-weight: bold;
}

.header__slider-text-title-highlight {
  color: $primary-color;
}

.btn--see-more {
  position: absolute;
  bottom: 70px;
}

// header

.about-me {
  padding: 110px 0;
}

.section__title--about-me {
  margin-bottom: 0;
}

.about-me__photo {
  border-radius: 50%;
  border: solid $primary-color 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,.55);
}

.section__subtitle {
  color: $primary-color;
  font-family: $secondary-font;

}

.about-me__bio {
  max-width: 624px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
}

.about__me-skills-el {
  font-size: 52px;
  margin: 0 15px;
}

// about me

.gallery {
  background: url('../../images/gallery-bg.jpg') no-repeat fixed center;
  background-size: cover;
}

.gallery__item {
  height: 350px;
  border: solid $primary-color 3px;
  border-radius: 5px;
  box-shadow: 0 5px 20px rgba(0,0,0,.55);

  &:hover {
    transition: all 0.3s ease;

    .gallery__item-hover {
      display: block;
    }
  }
}

.gallery__item-hover {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top,  rgba(97, 71, 80, 0.5) 0%, rgba(97, 71, 80, 0.5) 38%, rgba(97, 71, 80, 1) 100%);
  background: -webkit-linear-gradient(top,  rgba(97, 71, 80, 0.5) 0%,rgba(97, 71, 80, 0.5) 38%,rgba(97, 71, 80, 1) 100%); 
  background: linear-gradient(to bottom,  rgba(97, 71, 80, 0.5) 0%,rgba(97, 71, 80, 0.5) 38%,rgba(97, 71, 80, 1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#78f53535', endColorstr='#f53535',GradientType=0 );
  display: none;
  top: 0;
  right: 0;
  padding: 20px;
}

.gallery__item-desc {
  bottom: 20px;
}

.gallery__item-desc-project-title {
  color: #fff;
  font-family: $primary-font;
  font-size: 32px;
  text-transform: capitalize;
  text-align: left;
}

.gallery__item-desc-project-type {
  font-size: 18px;
  color: $secondary-color--light;
  text-transform: capitalize;
  text-align: left;
}

.gallery__item-zoom {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 36px;
}

.gallery__item-img {
  width: 100%;
  height: 100%;
}

// gallery project

.gallery__project {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url('../../images/gallery-bg.jpg') no-repeat center;
  background-size: cover;
  top: 0;
  right: 0;
  z-index: 4;
  overflow-y: auto;
}

.gallery__project-top {
  padding: 20px;
}

.gallery__project-close {
  width: 70px;
  height: 70px;
  background: url('../../images/gallery-project-close.png') no-repeat center;
  background-size: cover;

  &:hover {
    transition: all 0.3s ease;
    background: url('../../images/gallery-project-close--hovered.png') no-repeat center;
    background-size: cover;
  }
}

.gallery__project-content {
  display: none;
}

.gallery__project-content.active {
  display: block;
}

.gallery__project-img {
  width: 470px;
  height: 600px;
  border: solid $primary-color 3px;
  box-shadow: 0 5px 20px rgba(0,0,0,.55);
    
  &:hover {
    .gallery__project-img-hover {
      display: block;
    }
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.gallery__project-img-hover {
  background-color: rgba($color: #000000, $alpha: .7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;

  i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 52px;
  }
}

.gallery__project-title {
  font-size: 42px;
  text-transform: uppercase;
  font-family: $secondary-font;
  color: $primary-color;
  margin-bottom: 65px;
}

.gallery__project-title-highlight {
  font-size: 32px;
  color: #fff;
  font-family: $secondary-font;
}

.gallery__project-subtitle {
  @extend .gallery__project-title;
  font-size: 21px;
  margin-bottom: 25px;
}

.gallery__project-subtitle-highlight {
  font-size: 16px;
  color: $secondary-color--light;
  font-family: $primary-font;
  text-transform: capitalize;
}

.gallery__project-frameworks {
  margin-top: 45px;
}

.gallery__projects-frameworks-list-el {
  margin: 0 10px;
  font-size: 52px;
  text-align: center;

  &:first-child {
    margin-left: 0;
  }

  img {
    width: 65px;
    height: 70px;
  }
}

// gallery

.contact {
  
  .form-control {

    &:focus {
      border-color: $primary-color;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba($color: $primary-color, $alpha: .3);
    }
    
  }
}

.contact__form-input {
  margin-top: 35px;
  border: solid $secondary-color 2px;
  box-shadow: 0 5px 20px rgba(0,0,0,.55);
  padding: 10px 20px;
}

.contact__form-input--textarea {
  resize: none;
  height: 200px;
}

.btn--submit {
  margin-top: 45px;
}

//contact

// content 

.footer {
  color: $secondary-color--light;
  font-size: 18px;
  padding: 15px 0;
  background-color: #39313c;
}

// footer

@include media-breakpoint-up(md) {
  .gallery {

    .container {
      .row {
        margin-top: 45px;
      }
    }
  }
}

@include media-breakpoint-down(md) { 
  .site__header {
    background-position: 0;
  }
  
  .header__slider-text-title {
    text-align: center;
    font-size: 65px;
  }

  .header__bottom-nav {
    width: 100%;
    text-align: center;
  }

  .header {
    padding-top: 70px;
  }

  .header__top {
    text-align: center;
  }

  .btn--see-more {
    left: 50%;
    transform: translateX(-50%);
    bottom: 80px;
  }

  .gallery {

    .container {
      .row {
        .col-md-6 {
          margin-top: 15px;
        }
      }
    }
  }

  .gallery__project__desc {
    margin-top: 60px;
    margin-left: 0;
  }

  .gallery__project-title {
    margin-bottom: 30px;
    font-size: 32px;
  }

  .gallery__project-subtitle {
    font-size: 26px;
  }
}

@include media-breakpoint-down(sm) {
  .header__slider-text-title {
    font-size: 34px;
  }

  .header__logo-holder {
    font-size: 46px;
  }

  .header__bottom-nav {
    font-size: 21px;
  }

  .header__bottom-nav-el {
    margin: 0px 5px;
    word-wrap: break-word;
    font-size: 17px;
  }

  .about-me__photo {
    width: 250px;
    height: 250px;
  }

  .header__top-address {
    font-size: 16px;
  }

  .about-me__bio {
    text-align: center!important;
  }

  .gallery__project-img {
    width: 260px;
    height: 350px;
  }

}

// responsive